.hero {
  padding-bottom: 100px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_des {
  max-width: 546px;
}

.hero_des__title {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px; /* 100% */
  letter-spacing: -0.554px;
}

.hero_form__main {
  background-color: #fbfcfe;
  max-width: 445px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.hero_des__input {
  padding: 16px 47px 14px 27px;
  outline: none;
  //   border-radius: 24px;
  background-color: transparent;
  border: none;
  //   box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.hero_des__btn {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;

  padding: 15px 25px;
  border-radius: 24px;
  background-color: #ba4270;
  border: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  transition: 0.2s;

  &:hover {
    background-color: #da6d97;
    transition: 0.3s;
  }
}

.hero_des__text {
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
  padding-left: 20px;
}

.hero_text__link {
  opacity: 0.7;
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero_img {
  padding-top: 88px;
  padding-right: 80px;
}

/// =====================  RESPONSIVE =====================//

@media screen and (max-width: 1030px) {
  .hero__container {
    flex-direction: column-reverse;
  }

  .hero_des {
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .hero_des__title {
    color: #36536b;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.369px;
  }

  .hero_form__main {
    margin-left: auto;
    margin-right: auto;
  }

  .dote {
    // max-width: 1030px;
    background-repeat: no-repeat;
    background-image: url("../../img/hero_bg_tab.png");
    background-position: center top;
    background-size: 1030px;
  }
}

@media screen and (max-width: 675px) {
  .hero_form__main {
    // flex-direction: column;
    position: relative;
    margin-bottom: 88px;
    max-width: 327px;
  }

  .hero_des__btn {
    position: absolute;
    top: 70px;
    left: 0; 
    padding: 17px 101px;
    white-space: nowrap;
    // top: 20px;
  }

  .hero_des__title {
    font-size: 32px;
  }
}
